@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Changa:wght@200..800&family=Noto+Naskh+Arabic:wght@400..700&family=Readex+Pro:wght@160..700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root {
    --back-1: #141414;
    --back-2: #f6f7eb;
    --back-3: #4e4e4e;
    --back-4: #2e2d2d;
    
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Readex Pro", serif;
}
body {
    background-color: var(--back-2);
}
header {
    width: 100%;
    padding: 0px 0px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--back-1);
    color: var(--back-2);
}
#search-box {
    width: 200px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}
#results {
    border: 1px solid black;
    color: black;
    width: 300px;
    background: white;
    position: absolute;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.result-item {
    padding: 10px;
    cursor: pointer;
}
.result-item:hover {
    background-color: var(--back-2);
}
.contenr {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.contenr .card {
    color: white;
    width: 240px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 10px 10px 10px black;
    background-color: var(--back-4);
    transition: .3s ease;
}
.contenr .card:hover {
    background-color: var(--back-3);
    scale: 0.899;
}
.contenr .card img {
    width: 100%;
    height: 100%;
}
@media (max-width:660px){
    body {
        font-size: 14px;
    }
    .contenr {
        padding: 10px;
    }
    .contenr .card {
        width: 200px;
        height: 180px;
    }
}
@media (max-width:540px){
    body {
        font-size: 12px;
    }
    head {
        justify-content: space-between;
    }
    .contenr {
        padding: 10px;
    }
    .contenr{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}